<h1>確認画面</h1>
<%= form_with(model: @posting, url:postings_path, local: true) do |form| %>

  <p>タイトル：<%= @posting.title %></p>
  <%= form.hidden_field :title%>

  <p>内容：<%= @posting.content %></p>
  <%= form.hidden_field :content %>

  <p>画像：<%= image_tag(@posting.image.url) if @posting.image && @posting.image.url %></p>
  <%= form.hidden_field :image_cache %><br>

  <%= form.submit '投稿します！'%>
<% end %>

<%= form_with( model: @posting ,url: new_posting_path, local: true, method: "get" ) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
