<p id="notice"><%= notice %></p>

<h1>投稿一覧ページ</h1>

<section class="bg-light py-5">
<div class="conteiner">
  <table class="table">
    <thead>
      <tr class="row">
        <th class="col-md-3">タイトル</th>
        <th class="col-md-4">本文</th>
        <th class="col-md-5">画像</th>
        <th class="col-md-1">投稿者</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @postings.each do |posting| %>
        <tr class="row">
          <td class="col-md-2"><%= posting.title %></td>
          <td class="col-md-4"><%= posting.content %></td>
          <% if posting.image.present? %>
            <td class="col-md-5"><%= image_tag posting.image.url, :size => '100px×100px' %></td>
          <% else %>
            <td class="col-md-5"><p>画像はありません</p></td>
          <% end %>
            <td class="col-md-1"><%= posting.user.name %></td>
            <td class="col-md-1"><%= link_to '詳細', posting %></td>
          <% if posting.user.name == current_user.name %>
            <td class="col-md-1"><%= link_to '編集', edit_posting_path(posting) %></td>
            <td class="col-md-1"><%= link_to '削除', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>
