<p id="notice"><%= notice %></p>

<h1>投稿一覧ページ</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>本文</th>
      <th>画像</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <tr>
        <td><%= posting.title %></td>
        <td><%= posting.content %></td>
        <% if posting.image.present? %>
          <td><%= image_tag posting.image.url, :size => '100px×100px' %></td>
        <% else %>
          <td><p>画像はありません</p></td>
        <% end %>
        <td><%= posting.user.name %></td>
        <td><%= link_to '詳細を確認する', posting %></td>
        <% if posting.user.name == current_user.name %>
          <td><%= link_to '編集する', edit_posting_path(posting) %></td>
          <td><%= link_to '削除する', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_posting_path %>
