<p id="notice"><%= notice %></p>



<p>
      <strong>投稿者：</strong>
      <%= @posting.user.name %></p>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @posting.title %>
</p>

<p>
  <strong>本文:</strong>
  <%= @posting.content %>
</p>

 <% if @posting.image.present? %>
  <p>
    <strong>画像:</strong>
    <%= image_tag @posting.image.url %>
  </p>
 <% end %>
<% if current_user.id == @posting.user.id %>
  <%= link_to '編集する', edit_posting_path(@posting) %>
<% end %>

<%= link_to '投稿一覧へ戻る', postings_path %>
