<p id="notice"><%= notice %></p>



<p>
      <strong>投稿者：</strong>
      <%= @posting.user.name %></p>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @posting.title %>
</p>

<p>
  <strong>本文:</strong>
  <%= @posting.content %>
</p>

 <% if @posting.image.present? %>
  <p>
    <strong>画像:</strong>
    <%= image_tag @posting.image.url %>
  </p>
 <% end %>

<%= link_to 'Edit', edit_posting_path(@posting) %>
<%= link_to 'Back', postings_path %>
